
body{
    margin:0;
    font-family:Arial;
    background:#121212;
    color:white;
}

/* HEADER */
.header{
    display:flex;
    align-items:center;
    padding:15px;
    background:#1e1e1e;
}
.header img{
    width:45px;
    margin-right:10px;
}

/* CONTENIDO */
.main{
    display:flex;
    justify-content:left;
    padding:20px;
}

.chat-box{
    width:100%;
    max-width:900px;
}

/* HISTORIAL */
.history{
    height:350px;
    overflow-y:auto;
    background:#1f1f1f;
    padding:10px;
    border-radius:8px;
}

table{
    width:100%;
    border-collapse:collapse;
}

td{
    padding:8px;
}

/* BOTONES */
.buttons{
    margin:10px 0;
}

button{
    padding:8px 15px;
    background:#00bfff;
    border:none;
    color:black;
    border-radius:5px;
    cursor:pointer;
}

/* INPUT */
.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border-radius:5px;
    border:none;
}
