body{
background:#111;
font-family:Arial;
color:white;
}

.chat{
width:400px;
margin:40px auto;
background:#222;
padding:15px;
border-radius:10px;
}

#chatBox{
height:300px;
overflow:auto;
background:black;
padding:10px;
margin-bottom:10px;
}

.user{
color:#4fc3f7;
text-align:right;
margin:5px;
}

.bot{
color:#81c784;
text-align:left;
margin:5px;
}

input,button{
padding:8px;
margin-top:5px;
width:100%;
}

