body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
font-family:'Segoe UI';
color:white;
}

.chat{
width:420px;
margin:40px auto;
background:rgb(#0f2027);
padding:20px;
border-radius:15px;
box-shadow:0 0 20px black;
}

h2{
font-size:50px;
font-family:"Baskerville",serif;
text-align:center;
color:#4fc3f7;
}

#chatBox{
height: 300px; width: 900px;
overflow:auto;
background:#000;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.user{
background:#1e88e5;
padding:8px;
border-radius:10px;
margin:5px;
text-align:right;
}

.bot{
background:#43a047;
padding:8px;
border-radius:10px;
margin:5px;
text-align:left;
}

input{
width:100%;
padding:10px;
border:none;
border-radius:10px;
outline:none;
margin-bottom:5px;
}

button{
width:100%;
padding:10px;
border:none;
border-radius:10px;
background:#4fc3f7;
color:black;
font-weight:bold;
cursor:pointer;
margin-top:5px;
}

button:hover{
background:#29b6f6;
}
